# User Service
SERVER_PORT=8081
DB_HOST=localhost
DB_PORT=5432
DB_NAME=userdb
DB_USERNAME=user
DB_PASSWORD=userpass
JWT_SECRET=c2VjdXJlLXRva2VuLXNpZ25pbmcta2V5LXNob3VsZC1iZS1sb25nLWVub3VnaA==

# Listing Service
LISTING_SERVER_PORT=8082
LISTING_DB_HOST=localhost
LISTING_DB_PORT=5432
LISTING_DB_NAME=listingdb
LISTING_DB_USERNAME=listing
LISTING_DB_PASSWORD=listingpass

# Prediction Service
PREDICTION_SERVER_PORT=8083
